# Ignore files produced by sctipts
code/config/inputData/*.mat
code/config/reelInfo.mat
code/config/reelstrip.csv
output/*

# Ignore autosave files
*.asv

# Ignore example EEG Trigers
EEG_triggers/Dan_F/
EEG_triggers/Kae/
EEG_triggers/Maja/
EEG_triggers/*